body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #3c4672;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #222;
    color: #eee;
    padding: 10px 0;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;

    transition: all 0.3s;
}

a:hover {
    border: 1px solid #eee;
}



.smol {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    margin-bottom: 10px;
}
.smol > * {
    margin: 0;
}

/* Edit spell page */
.addSpell {
    background-color: #222;
    color: #fff;
    padding: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.multiple {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.selectable {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;

    user-select: none;

    border: 1px solid #4440;
}

.selected {
    background-color: #444;
    color: #bfb;

    border: 1px solid #bfb;
}

input {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 3px #2ff;
}

input[type="checkbox"] {
    cursor: pointer;

    width: 20px;
    height: 20px;
}

#spell-details {
    display: none;
    gap: 10px;
    margin-top: 10px;
}

.option {
    display: flex;
    gap: 10px;
    align-items: center;
}
.option > label {
    text-transform: capitalize;
    flex: 0.1;
}
.option > textarea {
    flex: 1;
    height: 100px;
    min-width: 40%;
    max-height: 200px;
    min-height: 100px;

    border: 1px solid #333;
    border-radius: 5px;
}
.option > input {
    flex: 1;
}
.option > input[type="checkbox"] {
    flex: 0.1;
    width: 20px;
    height: 20px;
}

button {
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;

    transition: all 0.3s;
}

button:hover {
    background-color: #444;
    border: 1px solid #444;
}

button:disabled {
    background-color: #111;
    border: 1px solid #666;
    cursor: not-allowed;
}

.modifying {
    background-color: #444;
    color: #f88;
    border: 1px solid #f88;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    font-weight: bold;
    animation: color 1.5s infinite;

}

@keyframes color {
    0% {
        color: #f88;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #f88;
    }
}

/* Spell list */
.main-backboard {
    background-color: #222;
    color: #fff;
    padding: 10px;
    border-radius: 5px;

    margin-top: 40px;
}

.spell {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;

    display: flex;
    gap: 10px;

    cursor: pointer;
}

.spell > .left {
    display: flex;
    flex-direction: column;
    gap: 10px;

    flex: 1;
}

.spell > .right {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.spell-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.spell-header > .level {
    width: 30px;
    height: 30px;
    min-width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: #666 2px solid;
    border-radius: 100%;
}

.spell-header > h3 {
    margin: 0;
}

.categories {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.categories > span {
    background-color: #444;
    padding: 5px;
    border-radius: 5px;
}

.error {
    color: #f88;
}
input.error {
    border: 1px solid #f55;
    background-color: #fee;
}

/* Spell details */
.spell-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close:hover {
    color: #f88;
    border-bottom: 1px solid #f88;
}

.details {
    display: flex;
    flex-direction: column;
}
.details > span > .label {
    font-weight: bold;
}


.rune {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;

    display: flex;
    gap: 10px;
    align-items: center;
    
    flex-direction: column;

    font-size: 1.3em;
    font-family: fantasy;
}
